<div style="height:1000px;">
	<% console.log(muti_gatewayMac) %>
	<% if(muti_gatewayMac=="NULL"){ %>
		<spam style="color: red">装置未连接至闸道器上，请确认装置设定</span>
	<% }else{ %>
		<table style="width:100%;height:100%;text-align: center;background-color: white">
			<tr style="height: 50%">
				<td>
					<div>
						<img src="/image/bedd.png" alt="bed" style="width:90%">
					</div>
				</td>
				<td colspan="2">
					<table style="width:100%">
						<tr style="height: 70px;">
							<td>
								0&nbsp;<input type="range" id="head" min="0" max="66" value="0" style="width: 50%;"
									oninput="get_head_rangevalue()"
									onchange="group_dochange('<%= teamid %>','head','<%= JSON.stringify(muti_mac) %>','<%= JSON.stringify(muti_gatewayMac) %>','<%= JSON.stringify(muti_connectdevice) %>','<%= JSON.stringify(muti_last_head) %>','<%= JSON.stringify(muti_last_foot) %>','<%= JSON.stringify(muti_last_bed) %>')">&nbsp;66
								　控制角度至：<input type="number" id="headv" min="0" max="66" value="0" oninput="get_head_value()"
									style="widows: 5%"
									onchange="group_dochange('<%= teamid %>','head','<%= JSON.stringify(muti_mac) %>','<%= JSON.stringify(muti_gatewayMac) %>','<%= JSON.stringify(muti_connectdevice) %>','<%= JSON.stringify(muti_last_head) %>','<%= JSON.stringify(muti_last_foot) %>','<%= JSON.stringify(muti_last_bed) %>')">
							</td>
						</tr>
						<tr style="height: 70px;">
							<td>
								0&nbsp;<input type="range" id="foot" min="0" max="28" value="0" style="width: 50%;"
									oninput="get_foot_rangevalue()"
									onchange="group_dochange('<%= teamid %>','foot','<%= JSON.stringify(muti_mac) %>','<%= JSON.stringify(muti_gatewayMac) %>','<%= JSON.stringify(muti_connectdevice) %>','<%= JSON.stringify(muti_last_head) %>','<%= JSON.stringify(muti_last_foot) %>','<%= JSON.stringify(muti_last_bed) %>')">&nbsp;28
								　控制角度至：<input type="number" id="footv" min="0" max="28" value="0" oninput="get_foot_value()"
									style="widows: 5%"
									onchange="group_dochange('<%= teamid %>','foot','<%= JSON.stringify(muti_mac) %>','<%= JSON.stringify(muti_gatewayMac) %>','<%= JSON.stringify(muti_connectdevice) %>','<%= JSON.stringify(muti_last_head) %>','<%= JSON.stringify(muti_last_foot) %>','<%= JSON.stringify(muti_last_bed) %>')">
							</td>
						</tr>
						<tr style="height: 70px;">
							<td>
								0&nbsp;<input type="range" id="bed" min="0" max="35" value="0" style="width: 50%;"
									oninput="get_bed_rangevalue()"
									onchange="group_dochange('<%= teamid %>','bed','<%= JSON.stringify(muti_mac) %>','<%= JSON.stringify(muti_gatewayMac) %>','<%= JSON.stringify(muti_connectdevice) %>','<%= JSON.stringify(muti_last_head) %>','<%= JSON.stringify(muti_last_foot) %>','<%= JSON.stringify(muti_last_bed) %>')">&nbsp;35
								　控制高度至：<input type="number" id="bedv" min="0" max="35" value="0" oninput="get_bed_value()"
									style="widows: 5%"
									onchange="group_dochange('<%= teamid %>','bed','<%= JSON.stringify(muti_mac) %>','<%= JSON.stringify(muti_gatewayMac) %>','<%= JSON.stringify(muti_connectdevice) %>','<%= JSON.stringify(muti_last_head) %>','<%= JSON.stringify(muti_last_foot) %>','<%= JSON.stringify(muti_last_bed) %>')">
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="height: 50%">
				<td style="width:50%">
					<div id="head_chart" style="width:100%">FusionCharts will render here</div>
				</td>
			</tr>
			<tr style="height: 50%">
				<td style="width:50%">
					<div id="foot_chart" style="width:100%">FusionCharts will render here</div>
				</td>
			</tr>
			<script type="text/javascript">
				var head_array = new Array();
				var foot_array = new Array();
				var group_data = JSON.parse('<%- JSON.stringify(muti_data) %>');
				var group_name = JSON.parse('<%- JSON.stringify(muti_name) %>');
				var count = 0;
				for (var i = 0; i < group_data.length; i++) {
					for (var y = 0; y < group_data[i].length; y++) {
						var x = new Array();
						var z = new Array();
						x[0] = parseInt(group_data[i][y].Head, 10);
						z[0] = parseInt(group_data[i][y].Foot, 10);
						x[1] = z[1] = group_name[i][0].Name;
						x[2] = z[2] = group_data[i][y].Time.split(' ')[0] + ' ' + group_data[i][y].Time.split(' ')[1];
						head_array[count] = x;
						foot_array[count] = z;
						count++;
					}
				}
				var head_schema = [{
					"name": "背部",
					"type": "number"
				}, {
					"name": "Type",
					"type": "string"
				}, {
					"name": "Time",
					"type": "date",
					"format": "%Y-%m-%d %H:%M:%S"
				}]
				// console.log(head_array);
				// console.log(foot_array);

				var headDataStore = new FusionCharts.DataStore();
				var headTable = headDataStore.createDataTable(head_array, head_schema);

				new FusionCharts({
					type: 'timeseries',
					renderAt: 'head_chart',
					width: "90%",
					height: 650,
					dataSource: {
						data: headTable,
						caption: {
							text: 'Online Sales of a SuperStore in the US'
						},
						"series": "Type",
						"yAxis": [{
							"plot": {
								"value": "背部",//對應schema的欄位
								"connectNullData": true,
								"style": {
									"line.null": {
										"stroke-dasharray": "10",
										"stroke": "#d0d0d0"
									},
									"border": 30,
								},
								"lineThickness": "20"
							},
							"min": "0",
							"max": "66",
							referenceLine: [{
								"label": "上限值",
								"value": 30
							}],
							format: {
								"Suffix": "°",
							},

						}],
						xAxis: {
							initialinterval: {
								from: "07-Sep-19",
								to: "07-Sep-19"
							}
						},
						chart: {
							exportEnabled: "1", //Enable Export Feature
						}
					}
				}).render()


				var foot_schema = [{
					"name": "腿部",
					"type": "number"
				}, {
					"name": "Type",
					"type": "string"
				}, {
					"name": "Time",
					"type": "date",
					"format": "%Y-%m-%d %H:%M:%S"
				}]
				var footDataStore = new FusionCharts.DataStore();
				var footTable = footDataStore.createDataTable(foot_array, foot_schema);

				new FusionCharts({
					type: 'timeseries',
					renderAt: 'foot_chart',
					width: "90%",
					height: 650,
					dataSource: {
						data: footTable,
						caption: {
							text: 'Online Sales of a SuperStore in the US'
						},
						"series": "Type",
						"yAxis": [{
							"plot": {
								"value": "腿部",//對應schema的欄位
								"connectNullData": true,
								"style": {
									"line.null": {
										"stroke-dasharray": "10",
										"stroke": "#d0d0d0"
									},
									"border": 30,
								},
								"lineThickness": "20"
							},
							"min": "0",
							"max": "28",
							referenceLine: [{
								"label": "上限值",
								"value": 15
							}],
							format: {
								"Suffix": "°",
							},

						}],
						chart: {
							exportEnabled: "1", //Enable Export Feature
						}
					}
				}).render()
			</script>
		</table>
	<% } %>
</div>