<div id="main" style="height:850px;overflow-y:scroll">

    <% if(device[0].id==null){ %>

        <% if (language==0){%>
            暫無資料請先點擊右方按鈕新增資料
        <% }else if (language==1){%>
            暂无资料请先点击右方按钮新增资料
        <% }else if (language==2){%>
            No information, please click the button on the right to add information.
        <% }%>

    <% }else{ %>
    <div style="margin-top: 10px"></div>
    <table id="example">
        <thead>
            <tr>
                <th>
                        <% if (language==0){%>
                            識別碼
                        <% }else if (language==1){%>
                            识别码
                        <% }else if (language==2){%>
                            Identifier
                        <% }%> 
                    </th>
                <th>
                    <% if (language==0){%>
                        設備名稱
                    <% }else if (language==1){%>
                        设备名称
                    <% }else if (language==2){%>
                        Device name
                    <% }%>
                    </th>
                <th>
                        <% if (language==0){%>
                            濕度
                        <% }else if (language==1){%>
                            湿度
                        <% }else if (language==2){%>
                            humidity
                        <% }%>
                    </th>
                <th>
                    <% if (language==0){%>
                        溫度
                    <% }else if (language==1){%>
                        温度
                    <% }else if (language==2){%>
                        temperature
                    <% }%>
                    </th>
                <th>PM2.0</th>
                <th>
                        <% if (language==0){%>
                            二氧化碳
                        <% }else if (language==1){%>
                            二氧化碳
                        <% }else if (language==2){%>
                            carbon dioxide
                        <% }%></th>
                <th>
                        <% if (language==0){%>
                            甲醛
                        <% }else if (language==1){%>
                            甲醛
                        <% }else if (language==2){%>
                            formaldehyde
                        <% }%></th>
                <th>
                    <% if (language==0){%>
                        揮發性氣體
                    <% }else if (language==1){%>
                        挥发性气体
                    <% }else if (language==2){%>
                        Volatile gas
                    <% }%>
                    </th>
                <th>
                    <% if (language==0){%>
                        電量
                    <% }else if (language==1){%>
                        电量
                    <% }else if (language==2){%>
                        Electricity
                    <% }%></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(x=0;x<device.length;x++) {%>
            <tr>
                <td><%= device[x].Mac %></td>

                <% if(device[x].Name == null) {%>
                <td>
                        <% if (language==0){%>
                            暫無
                        <% }else if (language==1){%>
                            暂无
                        <% }else if (language==2){%>
                            No data
                        <% }%>
                </td>
                <% }else{ %>
                <td><%= device[x].Name %></td>
                <% } %>

                <% if(device[x].Threshold == null) {%>
                <td>
                        <% if (language==0){%>
                            暫無
                        <% }else if (language==1){%>
                            暂无
                        <% }else if (language==2){%>
                            No data
                        <% }%>
                </td>
                <td>
                        <% if (language==0){%>
                            暫無
                        <% }else if (language==1){%>
                            暂无
                        <% }else if (language==2){%>
                            No data
                        <% }%>
                </td>
                <td>
                        <% if (language==0){%>
                            暫無
                        <% }else if (language==1){%>
                            暂无
                        <% }else if (language==2){%>
                            No data
                        <% }%>
                </td>
                <td>
                        <% if (language==0){%>
                            暫無
                        <% }else if (language==1){%>
                            暂无
                        <% }else if (language==2){%>
                            No data
                        <% }%>
                </td>
                <td>
                        <% if (language==0){%>
                            暫無
                        <% }else if (language==1){%>
                            暂无
                        <% }else if (language==2){%>
                            No data
                        <% }%>
                </td>
                <td>
                        <% if (language==0){%>
                            暫無
                        <% }else if (language==1){%>
                            暂无
                        <% }else if (language==2){%>
                            No data
                        <% }%>
                </td>
                <td>
                        <% if (language==0){%>
                            暫無
                        <% }else if (language==1){%>
                            暂无
                        <% }else if (language==2){%>
                            No data
                        <% }%>
                </td>
                <% }else{ %>
                <% var w = JSON.parse(device[x].Threshold) %>

                    <% if(w[0] == "NULL") {%>
                    <td>
                            <% if (language==0){%>
                                暫無
                            <% }else if (language==1){%>
                                暂无
                            <% }else if (language==2){%>
                                No data
                            <% }%>
                    </td>
                    <% }else{ %>
                    <td><%= w[0] %></td>
                    <% } %>

                    <% if(w[1] == "NULL") {%>
                    <td>
                            <% if (language==0){%>
                                暫無
                            <% }else if (language==1){%>
                                暂无
                            <% }else if (language==2){%>
                                No data
                            <% }%>
                    </td>
                    <% }else{ %>
                    <td><%= w[1] %></td>
                    <% } %>

                    <% if(w[2] == "NULL") {%>
                    <td>
                            <% if (language==0){%>
                                暫無
                            <% }else if (language==1){%>
                                暂无
                            <% }else if (language==2){%>
                                No data
                            <% }%>
                    </td>
                    <% }else{ %>
                    <td><%= w[2] %></td>
                    <% } %>

                    <% if(w[3] == "NULL") {%>
                    <td>
                            <% if (language==0){%>
                                暫無
                            <% }else if (language==1){%>
                                暂无
                            <% }else if (language==2){%>
                                No data
                            <% }%>
                    </td>
                    <% }else{ %>
                    <td><%= w[3] %></td>
                    <% } %>

                    <% if(w[4] == "NULL") {%>
                    <td>
                            <% if (language==0){%>
                                暫無
                            <% }else if (language==1){%>
                                暂无
                            <% }else if (language==2){%>
                                No data
                            <% }%>
                    </td>
                    <% }else{ %>
                    <td><%= w[4] %></td>
                    <% } %>

                    <% if(w[5] == "NULL") {%>
                    <td>
                            <% if (language==0){%>
                                暫無
                            <% }else if (language==1){%>
                                暂无
                            <% }else if (language==2){%>
                                No data
                            <% }%>
                    </td>
                    <% }else{ %>
                    <td><%= w[5] %></td>
                    <% } %>

                    <% if(w[6] == "NULL") {%>
                    <td>
                            <% if (language==0){%>
                                暫無
                            <% }else if (language==1){%>
                                暂无
                            <% }else if (language==2){%>
                                No data
                            <% }%>
                    </td>
                    <% }else{ %>
                    <td><%= w[6] %></td>
                    <% } %>

                <% } %>

                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#threshold-<%= device[x].Mac%>">
                        <% if (language==0){%>
                            設定
                        <% }else if (language==1){%>
                            设定
                        <% }else if (language==2){%>
                            set up
                        <% }%>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="threshold-<%= device[x].Mac%>" tabindex="-1" role="dialog"
                        aria-labelledby="<%= device[x].Mac%>-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:800px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="<%= device[x].Mac %>-Label">
                                        <span style="font-size: 25px;font-style:italic"><%= device[x].Name %> 
                                            <% if (language==0){%>
                                                告警值
                                            <% }else if (language==1){%>
                                                告警值
                                            <% }else if (language==2){%>
                                                Alarm value
                                            <% }%>  
                                        </span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="javascript:airquality_threshold('<%= device[x].Mac %>','<%= language%>')">
                                        <script>
                                            var mac = JSON.parse('<%- JSON.stringify(device[x].Mac) %>');
                                            // console.log(mac);
                                        </script>
                                        <% if(device[x].Threshold==null) {%>
                                        <div>
                                            <label for="wet-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        濕度：
                                                    <% }else if (language==1){%>
                                                        湿度：
                                                    <% }else if (language==2){%>
                                                        humidity：
                                                    <% }%>
                                            </label>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="wet-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="wet-c-<%= device[x].Mac %>"
                                                onclick="wet_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                        </div>
                                        <div>
                                            <label for="temp-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        溫度：
                                                    <% }else if (language==1){%>
                                                        温度：
                                                    <% }else if (language==2){%>
                                                        temperature：
                                                    <% }%>
                                            </label>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="temp-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="temp-c-<%= device[x].Mac %>"
                                                onclick="temp_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                        </div>
                                        <div>
                                            <label for="pm-<%= device[x].Mac %>"
                                                class="col-form-label">PM2.0：</label>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="pm-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="pm-c-<%= device[x].Mac %>"
                                                onclick="pm_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                        </div>
                                        <div>
                                            <label for="co2-<%= device[x].Mac %>" class="col-form-label">
                                                <% if (language==0){%>
                                                    二氧化碳：
                                                <% }else if (language==1){%>
                                                    二氧化碳：
                                                <% }else if (language==2){%>
                                                    carbon dioxide：
                                                <% }%>
                                            </label>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="co2-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="co2-c-<%= device[x].Mac %>"
                                                onclick="co2_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                        </div>
                                        <div>
                                            <label for="cha-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        甲醛：
                                                    <% }else if (language==1){%>
                                                        甲醛：
                                                    <% }else if (language==2){%>
                                                        formaldehyde：
                                                    <% }%>
                                                </label>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="cha-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="cha-c-<%= device[x].Mac %>"
                                                onclick="cha_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                        </div>
                                        <div>
                                            <label for="tvoc-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        揮發性氣體：
                                                    <% }else if (language==1){%>
                                                        挥发性气体：
                                                    <% }else if (language==2){%>
                                                        Volatile gas：
                                                    <% }%>
                                            </label>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="tvoc-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="tvoc-c-<%= device[x].Mac %>"
                                                onclick="tvoc_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                        </div>
                                        <div>
                                            <label for="wat-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        電量：
                                                    <% }else if (language==1){%>
                                                        电量：
                                                    <% }else if (language==2){%>
                                                        Electricity：
                                                    <% }%>
                                                </label>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="wat-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="wat-c-<%= device[x].Mac %>"
                                                onclick="wat_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                        </div>
                                        <% }else{ %>
                                        <% var qq=JSON.parse(device[x].Threshold) %>
                                        <div>
                                            <label for="wet-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        濕度：
                                                    <% }else if (language==1){%>
                                                        湿度：
                                                    <% }else if (language==2){%>
                                                        humidity：
                                                    <% }%>
                                            </label>
                                            <% if(qq[0]=="NULL") {%>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="wet-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="wet-c-<%= device[x].Mac %>"
                                                onclick="wet_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% }else{ %>
                                            <input type="number" style="width: 70%" value="<%= qq[0] %>" min="0"
                                                id="wet-<%= device[x].Mac %>" required>
                                            <input type="checkbox" id="wet-c-<%= device[x].Mac %>"
                                                onclick="wet_c('<%= device[x].Mac %>')">
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% } %>
                                        </div>

                                        <div>
                                            <label for="temp-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        溫度：
                                                    <% }else if (language==1){%>
                                                        温度：
                                                    <% }else if (language==2){%>
                                                        temperature：
                                                    <% }%>
                                               </label>
                                            <% if(qq[1]=="NULL") {%>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="temp-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="temp-c-<%= device[x].Mac %>"
                                                onclick="temp_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% }else{ %>
                                            <input type="number" style="width: 70%" value="<%= qq[1] %>" min="0"
                                                id="temp-<%= device[x].Mac %>" required>
                                            <input type="checkbox" id="temp-c-<%= device[x].Mac %>"
                                                onclick="temp_c('<%= device[x].Mac %>')">
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% } %>
                                        </div>

                                        <div>
                                            <label for="pm-<%= device[x].Mac %>"
                                                class="col-form-label">PM2.0：</label>
                                            <% if(qq[2]=="NULL") {%>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="pm-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="pm-c-<%= device[x].Mac %>"
                                                onclick="pm_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% }else{ %>
                                            <input type="number" style="width: 70%" value="<%= qq[2] %>" min="0"
                                                id="pm-<%= device[x].Mac %>" required>
                                            <input type="checkbox" id="pm-c-<%= device[x].Mac %>"
                                                onclick="pm_c('<%= device[x].Mac %>')">
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% } %>
                                        </div>

                                        <div>
                                            <label for="co2-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        二氧化碳：
                                                    <% }else if (language==1){%>
                                                        二氧化碳：
                                                    <% }else if (language==2){%>
                                                        carbon dioxide：
                                                    <% }%>
                                            </label>
                                            <% if(qq[3]=="NULL") {%>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="co2-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="co2-c-<%= device[x].Mac %>"
                                                onclick="co2_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% }else{ %>
                                            <input type="number" style="width: 70%" value="<%= qq[3] %>" min="0"
                                                id="co2-<%= device[x].Mac %>" required>
                                            <input type="checkbox" id="co2-c-<%= device[x].Mac %>"
                                                onclick="co2_c('<%= device[x].Mac %>')">
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% } %>
                                            
                                        </div>

                                        <div>
                                            <label for="cha-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        甲醛：
                                                    <% }else if (language==1){%>
                                                        甲醛：
                                                    <% }else if (language==2){%>
                                                        formaldehyde：
                                                    <% }%>
                                            </label>
                                            <% if(qq[4]=="NULL") {%>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="cha-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="cha-c-<%= device[x].Mac %>"
                                                onclick="cha_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% }else{ %>
                                            <input type="number" style="width: 70%" value="<%= qq[4] %>" min="0"
                                                id="cha-<%= device[x].Mac %>" required>
                                            <input type="checkbox" id="cha-c-<%= device[x].Mac %>"
                                                onclick="cha_c('<%= device[x].Mac %>')">
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% } %>
                                            
                                        </div>

                                        <div>
                                            <label for="tvoc-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        揮發性氣體：
                                                    <% }else if (language==1){%>
                                                        挥发性气体：
                                                    <% }else if (language==2){%>
                                                        Volatile gas：
                                                    <% }%>
                                            </label>
                                            <% if(qq[5]=="NULL") {%>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="tvoc-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="tvoc-c-<%= device[x].Mac %>"
                                                onclick="tvoc_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% }else{ %>
                                            <input type="number" style="width: 70%" value="<%= qq[5] %>" min="0"
                                                id="tvoc-<%= device[x].Mac %>" required>
                                            <input type="checkbox" id="tvoc-c-<%= device[x].Mac %>"
                                                onclick="tvoc_c('<%= device[x].Mac %>')">
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% } %>
                                            
                                        </div>

                                        <div>
                                            <label for="wat-<%= device[x].Mac %>" class="col-form-label">
                                                    <% if (language==0){%>
                                                        電量：
                                                    <% }else if (language==1){%>
                                                        电量：
                                                    <% }else if (language==2){%>
                                                        Electricity：
                                                    <% }%>
                                            </label>
                                            <% if(qq[6]=="NULL") {%>
                                            <input type="number" style="width: 70%" value="0" min="0"
                                                id="wat-<%= device[x].Mac %>" required disabled>
                                            <input type="checkbox" id="wat-c-<%= device[x].Mac %>"
                                                onclick="wat_c('<%= device[x].Mac %>')" checked>
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% }else{ %>
                                            <input type="number" style="width: 70%" value="<%= qq[6] %>" min="0"
                                                id="wat-<%= device[x].Mac %>" required>
                                            <input type="checkbox" id="wat-c-<%= device[x].Mac %>"
                                                onclick="wat_c('<%= device[x].Mac %>')">
                                                <% if (language==0){%>
                                                    不設定
                                                <% }else if (language==1){%>
                                                    不设定
                                                <% }else if (language==2){%>
                                                    Not set
                                                <% }%>
                                            <% } %>
                                            
                                        </div>
                                        <% } %>

                                        <script>
                                            function wet_c(mac) {
                                                var wetc = document.getElementById("wet-c-" + mac).checked;
                                                if (wetc == true) {
                                                    // document.getElementById("wet-"+mac).setAttribute("readonly",true);
                                                    // document.getElementById("wet-"+mac).value=0;
                                                    document.getElementById("wet-" + mac).setAttribute("disabled", true);
                                                    document.getElementById("wet-" + mac).value = 0;
                                                } else {
                                                    // document.getElementById("wet-"+mac).removeAttribute("readonly");
                                                    document.getElementById("wet-" + mac).removeAttribute("disabled");
                                                }
                                            };

                                            function temp_c(mac) {
                                                var tempc = document.getElementById("temp-c-" + mac).checked;
                                                if (tempc == true) {
                                                    // document.getElementById("temp-"+mac).setAttribute("readonly",true);
                                                    // document.getElementById("temp-"+mac).value=0;
                                                    document.getElementById("temp-" + mac).setAttribute("disabled", true);
                                                    document.getElementById("temp-" + mac).value = 0;
                                                } else {
                                                    // document.getElementById("temp-"+mac).removeAttribute("readonly");
                                                    document.getElementById("temp-" + mac).removeAttribute("disabled");
                                                }
                                            };

                                            function pm_c(mac) {
                                                var pmc = document.getElementById("pm-c-" + mac).checked;
                                                if (pmc == true) {
                                                    // document.getElementById("pm-"+mac).setAttribute("readonly",true);
                                                    // document.getElementById("pm-"+mac).value=0;
                                                    document.getElementById("pm-" + mac).setAttribute("disabled", true);
                                                    document.getElementById("pm-" + mac).value = 0;
                                                } else {
                                                    // document.getElementById("pm-"+mac).removeAttribute("readonly");
                                                    document.getElementById("pm-" + mac).removeAttribute("disabled");
                                                }
                                            };

                                            function co2_c(mac) {
                                                var co2c = document.getElementById("co2-c-" + mac).checked;
                                                if (co2c == true) {
                                                    // document.getElementById("co2-"+mac).setAttribute("readonly",true);
                                                    // document.getElementById("co2-"+mac).value=0;
                                                    document.getElementById("co2-" + mac).setAttribute("disabled", true);
                                                    document.getElementById("co2-" + mac).value = 0;
                                                } else {
                                                    // document.getElementById("co2-"+mac).removeAttribute("readonly");
                                                    document.getElementById("co2-" + mac).removeAttribute("disabled");
                                                }
                                            };

                                            function cha_c(mac) {
                                                var chac = document.getElementById("cha-c-" + mac).checked;
                                                if (chac == true) {
                                                    // document.getElementById("cha-"+mac).setAttribute("readonly",true);
                                                    // document.getElementById("cha-"+mac).value=0;
                                                    document.getElementById("cha-" + mac).setAttribute("disabled", true);
                                                    document.getElementById("cha-" + mac).value = 0;
                                                } else {
                                                    // document.getElementById("cha-"+mac).removeAttribute("readonly");
                                                    document.getElementById("cha-" + mac).removeAttribute("disabled");
                                                }
                                            };

                                            function tvoc_c(mac) {
                                                var tvocc = document.getElementById("tvoc-c-" + mac).checked;
                                                if (tvocc == true) {
                                                    // document.getElementById("tvoc-"+mac).setAttribute("readonly",true);
                                                    // document.getElementById("tvoc-"+mac).value=0;
                                                    document.getElementById("tvoc-" + mac).setAttribute("disabled", true);
                                                    document.getElementById("tvoc-" + mac).value = 0;
                                                } else {
                                                    // document.getElementById("tvoc-"+mac).removeAttribute("readonly");
                                                    document.getElementById("tvoc-" + mac).removeAttribute("disabled");
                                                }
                                            };

                                            function wat_c(mac) {
                                                var watc = document.getElementById("wat-c-" + mac).checked;
                                                if (watc == true) {
                                                    // document.getElementById("wat-"+mac).setAttribute("readonly",true);
                                                    // document.getElementById("wat-"+mac).value=0;
                                                    document.getElementById("wat-" + mac).setAttribute("disabled", true);
                                                    document.getElementById("wat-" + mac).value = 0;
                                                } else {
                                                    // document.getElementById("wat-"+mac).removeAttribute("readonly");
                                                    document.getElementById("wat-" + mac).removeAttribute("disabled");
                                                }
                                            };

                                        </script>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">
                                                    <% if (language==0){%>
                                                        確認
                                                    <% }else if (language==1){%>
                                                        确认
                                                    <% }else if (language==2){%>
                                                        confirm
                                                    <% }%>
                                            </button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">
                                                <% if (language==0){%>
                                                    取消
                                                <% }else if (language==1){%>
                                                    取消
                                                <% }else if (language==2){%>
                                                    cancel
                                                <% }%>
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        function airquality_threshold(mac,language) {
                            var wet = parseInt(document.getElementById("wet-" + mac).value);
                            var wetc = document.getElementById("wet-c-" + mac).checked;
                            var temp = parseInt(document.getElementById("temp-" + mac).value);
                            var tempc = document.getElementById("temp-c-" + mac).checked;
                            var pm = parseInt(document.getElementById("pm-" + mac).value);
                            var pmc = document.getElementById("pm-c-" + mac).checked;
                            var co2 = parseInt(document.getElementById("co2-" + mac).value);
                            var co2c = document.getElementById("co2-c-" + mac).checked;
                            var cha = parseInt(document.getElementById("cha-" + mac).value);
                            var chac = document.getElementById("cha-c-" + mac).checked;
                            var tvoc = parseInt(document.getElementById("tvoc-" + mac).value);
                            var tvocc = document.getElementById("tvoc-c-" + mac).checked;
                            var wat = parseInt(document.getElementById("wat-" + mac).value);
                            var watc = document.getElementById("wat-c-" + mac).checked;
                            if (wetc == true) {
                                wet = 'NULL';
                            }
                            if (tempc == true) {
                                temp = 'NULL';
                            }
                            if (pmc == true) {
                                pm = 'NULL';
                            }
                            if (co2c == true) {
                                co2 = 'NULL';
                            }
                            if (chac == true) {
                                cha = 'NULL';
                            }
                            if (tvocc == true) {
                                tvoc = 'NULL';
                            }
                            if (watc == true) {
                                wat = 'NULL';
                            }
                            // console.log(wet + "/" + temp + "/" + pm + "/" + co2 + "/" + cha + "/" + tvoc + "/" + wat);
                            $.post("/modify/threshold", { type: 'airquality', mac:mac, wet:wet, temp:temp, pm:pm, co2:co2, cha:cha, tvoc:tvoc, wat:wat}, function (data) {
                                if (data == "修改告警值成功") {
                                    // location.reload();
                                    $("#threshold-"+mac).modal('hide');
                                    setTimeout(function(){
                                        gothreshold('6','空氣質量',language);
                                    },200);
                                } else {
                                    alert("修改告警值失敗");
                                }
                            }, "text");
                        }
                    </script>

                </td>

            </tr>
            <% } %>
        </tbody>
    </table>

    <script>
        if ('<%= language%>'==0){
            $(document).ready(function () {
                $('#example').DataTable({
                    language: {
                        search: "搜尋：",
                        sProcessing: "處理中...",
                        sLengthMenu: "顯示 _MENU_ 項结果",
                        sZeroRecords: "没有匹配结果",
                        sInfo: "顯示第 _START_ 至 _END_ 項结果，共 _TOTAL_ 項",
                        sInfoEmpty: "顯示第 0 至 0 項结果，共 0 項",
                        sInfoFiltered: "(由 _MAX_ 項结果過濾)",
                        sInfoPostFix: "",
                        sSearch: "搜索:",
                        sEmptyTable: "表中數據為空",
                        sLoadingRecords: "載入中...",
                        sInfoThousands: ",",
                        oPaginate: {
                            sFirst: "首頁",
                            sPrevious: "上頁",
                            sNext: "下頁",
                            sLast: "末頁"
                        },
                        oAria: {
                            "sSortAscending": ": 以升排列",
                            "sSortDescending": ": 以降排列"
                        }
                    }
                });
            });
        }
        else if('<%= language%>'==1){
            $(document).ready(function () {
                $('#example').DataTable({
                    language: {
                        search: "搜尋：",
                        sProcessing: "处理中...",
                        sLengthMenu: "显示 _MENU_ 项结果",
                        sZeroRecords: "没有匹配结果",
                        sInfo: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        sInfoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        sInfoFiltered: "(由 _MAX_ 项结果过滤)",
                        sInfoPostFix: "",
                        sSearch: "搜索:",
                        sEmptyTable: "表中数据为空",
                        sLoadingRecords: "载入中...",
                        sInfoThousands: ",",
                        oPaginate: {
                            sFirst: "首页",
                            sPrevious: "上页",
                            sNext: "下页",
                            sLast: "末页"
                        },
                        oAria: {
                            "sSortAscending": ": 以升排列",
                            "sSortDescending": ": 以降排列"
                        }
                    }
                });
            });
        }
        else if('<%= language%>'==2){
            $(document).ready(function () {
                $('#example').DataTable({
                    language: {
                        search: "Search：",
                        sProcessing: "Processing...",
                        sLengthMenu: "Display _MENU_ results",
                        sZeroRecords: "No matching results",
                        sInfo: "Showing _START_ to _END_ results， _TOTAL_ items",
                        sInfoEmpty: "Showing 0 to 0 results， 0 items",
                        sInfoFiltered: "(Filtered by _MAX_ result)",
                        sInfoPostFix: "",
                        sSearch: "Search：",
                        sEmptyTable: "The data in the table is empty",
                        sLoadingRecords: "Processing...",
                        sInfoThousands: ",",
                        oPaginate: {
                            sFirst: "top page",
                            sPrevious: "previous page",
                            sNext: "next page",
                            sLast: "last page"
                        },
                        oAria: {
                            "sSortAscending": ": In ascending",
                            "sSortDescending": ": In descending"
                        }
                    }
                });
            });
        }
        
    </script>

    <% } %>
</div>